<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs page</title>
</head>
<body>
        <h1>This is Blogs page</h1>    

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem natus architecto tenetur doloribus! Commodi explicabo 
            possimus nisi assumenda labore nihil, laboriosam quisquam minus ex alias molestiae consequatur quo nam numquam?</p>
       
         <%  data.forEach(item => { %>
            <li><%= item %> </li>
        <% }) %>

</body>
</html>