<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<body>
    <H1>This is Contact page</H1>    

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum placeat velit temporibus soluta,
         aut animi nesciunt at expedita sapiente enim laudantium harum quae nobis sint officiis, possimus necessitatibus, ex ea.</p>

       
         <%  data.forEach(item => { %>
            <li><%= item %> </li>
        <% }) %>

</body>
</html>