<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown page</title>
</head>
<body>

        <h1>This is Sropdown page</h1>       

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam labore dicta illum hic officia optio!
             Sapiente voluptatum ipsa iste ab, aperiam iure nemo, dolores fugit laboriosam eligendi incidunt eaque in!</p>

         <%  data.forEach(item => { %>
            <li><%= item %> </li>
        <% }) %>

    
</body>
</html>