<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index file</title>
    <link href="./style.css" rel="styleSheet"></link>
    
</head>
<body>
    <h1>welcome to home page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ullam consequatur impedit dolor eveniet totam nihil
         possimus quos repellendus a repudiandae perferendis doloribus accusamus, eius commodi facere expedita minima? Saepe?</p>
         
         <%  data.forEach(item => { %>
            <li><%= item %> </li>
        <% }) %>

        
</body>
</html>