<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servises page</title>
</head>
<body>
        <h1>this is Servises page</h1>    

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eligendi, autem in officia rerum dignissimos deserunt et cumque ducimus.
             Exercitationem voluptas minima recusandae deserunt numquam. Dolores quidem repellat saepe suscipit.</p>
       
         <%  data.forEach(item => { %>
            <li><%= item %> </li>
        <% }) %>

</body>
</html>